.input {
  border-radius: 20px;
  font-size: 1.2rem;
  color: var(--primary-font-color);
  background: var(--input-background-color);
  border: none;
  padding: 10px 20px;
}
.input::placeholder {
  color: var(--placeholder-color);
}
