.btn {
  border-radius: 20px;
  font-size: 16px;
  color: white;
  background: #fc6011;
  border: none;
  padding: 15px 20px;
}

.btn-border {
  color: #fc6011;
  background: white;
  border: 1px solid #fc6011;
}
