.card {
  display: table;
}

.card-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.card-text {
  color: #4a4b4d;
  font-weight: 700;
  text-align: center;
  display: table-caption;
  caption-side: bottom;
}
