/*
  Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0
*/
@font-face {
  font-family: "Metropolis";
  src: url("./assets/metropolis.woff2") format("woff2"),
    url("./assets/metropolis.woff") format("woff"),
    url("./assets/metropolis.ttf") format("ttf");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --main-color: #fc6011;
  --primary-font-color: #4a4b4d;
  --placeholder-color: #b6b7b7;
  --input-background-color: #f2f2f2;
}

html {
  font-size: 16px;
}

body {
  font-family: "Metropolis", "Comic sans ms", sans-serif;
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Metropolis", "Comic sans ms", sans-serif;
}
